* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #19A1AE;
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
}

.container {
    position: relative;
    max-width: 326px;
    background-color: white;
    border-radius: 15px;
}

.about {
    padding: 72px 0 25px;
    text-align: center;
}

.card-bg {
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.profile-img {
    border: 5px solid white;
    border-radius: 50%;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1, h2 {
    color: #2E3349;
    font-size: 18px;
    margin-bottom: 9px;
}

p {
    color: #6B7082;
    font-size: 14px;
}

.age {
    color: #6B7082;
    font-size: 18px;
    font-weight: 400;
}

hr {
    border: 1px solid #E8E9EC;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 24px 45px;
    text-align: center;
}

.info p {
    font-size: 10px;
    letter-spacing: 1.5px;
}